tujijengeenv/
__pycache__/
*.pyc/
**/__pycache__/
db.sqlite3
tujijenge/backup.json
.env

tujijenge/tujijenge/__pycache__/settings.cpython-310.pyc
tujijenge/tujijenge/__pycache__/urls.cpython-310.pyc


ngrok
